<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667632482166-js4m8pv9hjqur12lgrqvnn6p5d9k53sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667632482166-js4m8pv9hjqur12lgrqvnn6p5d9k53sr</string>
	<key>API_KEY</key>
	<string>AIzaSyC8S0H7WLoDx2U373jIxu5wl8cyWXXn0TY</string>
	<key>GCM_SENDER_ID</key>
	<string>667632482166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FriendsChallenge</string>
	<key>PROJECT_ID</key>
	<string>friends-challenge-48f09</string>
	<key>STORAGE_BUCKET</key>
	<string>friends-challenge-48f09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667632482166:ios:d35a33112c755fafa42c57</string>
	<key>DATABASE_URL</key>
	<string>https://friends-challenge-48f09.firebaseio.com</string>
</dict>
</plist>